

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jspark{
  height: 70px;
  font-size: 40px;
}
.asterisk  {
  margin-top: 11px;
}
